<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskFlow - Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@300&family=Roboto:wght@300&family=Satisfy&display=swap" rel="stylesheet">    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Link to your stylesheet -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 0;
        font-family: "Dancing Script", cursive;
        background-color: #f5f5f5;
        color: #333;
      }

      header {
        background-color: #4b90d4;
        color: #ecf0f1;
        text-align: center;
        padding: 20px;
      }

      header h1 {
        margin: 0;
        font-size: 2em;
      }

      header p {
        margin-top: 5px;
      }

body{
  font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
}
#algn{
    height: 92vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
  font-family: 'Satisfy', cursive;

    width: 370px;
    height: 435px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

#upper-bg{
    width: 100%;
    height: 35%;
    background-color: #789ce0;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-pic{
    width: 35%;
    background-color: white;
    border: 3px solid #69a7b3;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 40px;
}

#lower-bg{
    width: 100%;
    height: 65%;
}

.text{
    text-align: center;
    padding-top: 35px;
}

.text .name{
    font-weight: 600;
    font-size: large;
    padding: 0;
    margin: 5px;
}

.text .title{
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#icons{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#icons img{
    width: 80%;
    height: 90%;
}

.ico{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#btn button{
    margin: 0 20px;
    padding: 4px 15px;
    background-color: #73abdf;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

#btn button:hover{
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

#l-c-s{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;
}

#l-c-s .num{
    display: flex;
}

#l-c-s .dvr{
    width: 2px;
    height: 25px;
    background-color: gray;
}

#l-c-s img{
    width: 24px;
    height: 24px;
}

.license{
    font-size: 12px;
    text-align: center;
}

.license .ll{
    padding: 0 10px;
    display: inline;
}
      .navbar-brand {
        transition: transform 0.3s ease-in-out; /* Add a transition for a smooth effect */
      }

      .navbar-brand:hover {
        transform: scale(1.1); /* Adjust the scaling factor as needed */
      }
      @keyframes enlargeOnHover {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.1);
        }
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand nav-link" href="/">TaskFlow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active border-bottom border-2 border-primary"
                href="/profile"
              >Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

    <div id="algn">
      <div id="card">
          <div id="upper-bg">
              <img src="https://media.istockphoto.com/id/1300972574/photo/millennial-male-team-leader-organize-virtual-workshop-with-employees-online.jpg?s=612x612&w=0&k=20&c=uP9rKidKETywVil0dbvg_vAKyv2wjXMwWJDNPHzc_Ug=" alt="profile-pic" class="profile-pic">
          </div>
          <div id="lower-bg">
            <div class="text">
              <p class="name"><%= user.username %></p>
              <p class="title"><%= user.email %>& <br> Task Added - <%= user.posts.length %></p>
            </div>
            <div id="icons">
              <a href="#" class="ico"><img width="48" height="48" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new"/></a>
              <a href="#" class="ico">
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/>
              </a>
              <a href="#" class="ico">
                <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
              </a>
              <a href="#" class="ico">
                <img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/>
              </a>
            </div>
            <div id="btn">
              <a href="/archieved_task"> <button class="msg">Saved Task</button></a>
             <a href="/logout"><button class="msg">Logout</button></a>
            </div>
            <div id="l-c-s">
              <div class="num">
                <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png" alt="facebook-like--v1"/>
                <span>35k</span>
              </div>
              <div class="num dvr"></div>
              <div class="num">
                <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png" alt="speech-bubble--v1"/>
                <span>20k</span>
              </div>
              <div class="num dvr"></div>
              <div class="num">
                <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/share.png" alt="share"/>
                <span>15k</span>
              </div>
            </div>
          </div>
      </div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    
  </body>
</html>
